                    <td>
                        <center><a class="voteup" doc_id="{{_id}}" href="vote?for={{_id}}&dir=up"><img src="/grayarrow.gif" border="0" vspace="3" hspace="2"></a>
                            <span class="down_3982041"></span>
                        </center>
                    </td>
                    <td class="title"><a href="{{url}}">{{title}}</a>
                        <span class="comhead">
                            ({{domain}})
                        </span>
                    </td>
