      <tr>
        <td>
          <img src="http://ycombinator.com/images/s.gif" height="10" width="0">

          <table width="100%" cellspacing="0" cellpadding="1">
            <tr>
              <td bgcolor="{{>conf_color}}"></td>
            </tr>
          </table><br>
          <center>
            <div class="footerlinks">
                <a href="{{>conf_path}}about">{{>conf_about}}</a>
                |
                <a href="https://github.com/lmatteis/hckr.it">on github</a>
            </div>
            <br />
          </center>
        </td>
      </tr>
    </table>
  </center>
</body>
</html>
