{{>head}}
<tr>
    <td>
        <center>
            <span class="admin">
                <table width="500">
                    <tbody>
                        <tr>
                            <td>
                                <br>
                                <br>
                                <p>
                                Questo è un sito dedicato alle startup italiane.


                                <p>
                                    <br>
                                    <br>Luca Matteis
                                    <br>
                                    <br>
                                </p>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </span>
        </center>
    </td>
</tr>
{{>tail}}
