{{>head}}
<tr>
    <td>
        <center>
            <span class="admin">
                <table width="500">
                    <tbody>
                        <tr>
                            <td>
                                <br>
                                <br>
                                <p>
                                 <img src="http://i.imgur.com/jgLZr.gif" />
                                I have no idea.
                                </p>
                                <p>
                                Look at the GitHub page on the footer for more info.
                                </p>
                                    <br>
                                    <br>Luca Matteis
                                    <br>
                                    <br>
                                </p>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </span>
        </center>
    </td>
</tr>
{{>tail}}
