{{>head}}

<tr>
    <td>
        {{#item}}
<script>
$(function() {
    comments.getCommentsByParentId(0, '{{_id}}');
});
</script>
        <table border="0">
            <tbody>
                <tr>
                    <td>
                        <center><a class="voteup" doc_id="{{_id}}" href="vote?for={{_id}}&dir=up"><img src="/grayarrow.gif" border="0" vspace="3" hspace="2"></a>
                            <span class="down_3982041"></span>
                        </center>
                    </td>
                    <td class="title"><a href="{{url}}">{{title}}</a>
                        <span class="comhead">
                            ({{domain}})
                        </span>
                    </td>
                </tr>
                <tr>
                    <td colspan="1"></td>
                    <td class="subtext"><span>{{points}} points</span>
                        by
                        <a href="user?id=alexandros">alexandros</a>
                        25 minutes ago |
                        <a href="/r?fnid=XPOHefX5H9">flag</a>
                        |
                        <a href="item?id=3982041">5 comments</a></td>
                </tr>
                <tr style="height:10px"></tr>
                <tr>
                    <td></td>
                    <td><form method="post" action="/r"><input type="hidden" name="fnid" value="B571URQDJC"><textarea name="text" rows="6" cols="60"></textarea>
                            <br><br>
                            <input type="submit" value="add comment">
                        </form>
                    </td>
                </tr>
            </tbody>
        </table>
        {{/item}}
        <br><br>
        <table border="0">
            <tbody class="comments">
                {{#comments}}
                <tr comment_id="{{comment_id}}" parent_id="{{parent_id}}" score="{{score}}" style='display:none;'>
                    <td>
                        <table border="0">
                            <tbody>
                                <tr><td><img src="http://ycombinator.com/images/s.gif" height="1" width="0" class="level"></td>
                                    <td valign="top">
                                        <center><a id="up_3982076" onclick="return vote(this)" href="vote?for=3982076&amp;dir=up&amp;by=sktrdie&amp;auth=2db22be64bf6d8f65e63a62516b47f15cff3c2a6&amp;whence=%69%74%65%6d%3f%69%64%3d%33%39%38%32%30%34%31"><img src="http://ycombinator.com/images/grayarrow.gif" border="0" vspace="3" hspace="2"></a>
                                            <span id="down_3982076"></span>
                                        </center>
                                    </td>
                                    <td class="default">
                                        <div style="margin-top:2px; margin-bottom:-10px; ">
                                            <span class="comhead">{{points}} points by <a href="user?id=iusable">iusable</a>
                                                16 minutes ago |
                                                <a href="item?id=3982076">link</a></span>
                                        </div>
                                        <br>
                                        <span class="comment">
                                            <font color="#000000">
                                            {{score}}     
                                            </font>
                                        </span>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </td>
                </tr>
                {{/comments}}
            </tbody>
        </table>
        <br><br>
    </td>
</tr>
{{>tail}}
