{{>head}}
<tr>
    <td>
        <form method="post" action="/r">
            <input type="hidden" name="fnid" value="4lGWPNBAe8">
            <table border="0">
                <tbody>
                    <tr>
                        <td>title</td>
                        <td>
                            <input type="text" name="t" value="" size="50">
                        </td>
                    </tr>
                    <tr>
                        <td>url</td>
                        <td>
                            <input type="text" name="u" value="" size="50">
                        </td>
                    </tr>
                    <tr>
                        <td></td>
                        <td>
                            <input type="submit" value="submit">
                        </td>
                    </tr>
                    <tr style="height:20px"></tr>
                </tbody>
            </table>
        </form>
    </td>
</tr>
{{>tail}}

