{{>head}}

{{#user}}
<tr>
    <td>
        <form method="post" action="/x">
            <table border="0">
                <tbody>
                    <tr>
                        <td valign="top">user:</td>
                        <td>{{name}}</td>
                    </tr>
                    <!--
                    <tr>
                        <td valign="top">created:</td>
                        <td>1413 days ago</td>
                    </tr>
                    -->
                    <tr>
                        <td valign="top">karma:</td>
                        <td>{{karma}}</td>
                    </tr>
                    <tr>
                        <td valign="top">about:</td>
                        <td>
                            {{#myprofile}}
                            <textarea cols="60" rows="7" wrap="virtual" name="about">{{about}}</textarea>
                            <font
                            size="-2">
                                <a href="{{>conf_path}}formatdoc"><font color="#afafaf">help</font></a>
                                </font>
                            {{/myprofile}}
                            {{^myprofile}}
                                {{about}}
                            {{/myprofile}}
                        </td>
                    </tr>
                    {{#myprofile}}
                    <tr>
                        <td valign="top">email:</td>
                        <td>
                            <input type="text" name="email" value="" size="60">
                        </td>
                    </tr>
                    {{/myprofile}}
                    <!--
                    <tr>
                        <td></td>
                        <td>
                            <a href="/changepw"><u>change password</u></a>
                        </td>
                    </tr>
                    -->
                    <!--
                    <tr>
                        <td></td>
                        <td>
                            <a href="/saved?id={{name}}"><u>saved stories</u></a>
                        </td>
                    </tr>
                    <tr>
                        <td></td>
                        <td>
                            <a href="/submitted?id={{name}}"><u>submissions</u></a>
                        </td>
                    </tr>
                    -->
                </tbody>
            </table>
            {{#myprofile}}
            <br>
            <input type="submit" value="update">
            {{/myprofile}}
        </form>
        <br>
        <br>
    </td>
</tr>
{{/user}}

{{>tail}}
